@font-face {
  font-family: "Gilroy";
  src: url("../fonds/gilroyextrabold.woff2") format("woff2"),
  url("../fonds/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonds/opensans.woff2") format("woff2"),
  url("../fonds/opensanslight.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: 0.1px;
}

a {
  text-decoration: none;
  
}

.main-header {
  
  background-color: #f7e296;
}

.main-logo {
  color: #000000;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.main-logo:hover {

  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.main-navigation {

}

.search-form {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #f7e296;
  letter-spacing: 0.1px; 

}
.search-form input[type="search"] {
  font: inherit;
  color: #000000;
  opacity: 0.3;
}
  
.search-form input:hover {
  color: #000000;
  opacity: 0.6;
}

.search {

  border: 1px solid #000000;
  color: #000000;
  background-color: #f7e296;
  text-align: center;
  border: 1px solid #000000;
}

.search:hover {
  color: #ffffff;
  background-color: #000000;
}

.search:activ {
  color: #ffffff;
  background-color: #000000;
  opacity: 0.3;
}

.search-form input:focus {
  border-bottom: 1px solid #000000;
}


.menu {
  background-color: #f7e296;
}

.menu-catalog,
.site-item {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.menu-catalog:hover,
.site-item:hover {
  color: #000000;
  opacity: 0.6;
}
    
.menu-catalog:active,
.site-item:active {
  color: #000000;
  opacity: 0.3;
}

.menu-navigation,
.user-navigation,
.cite-navigation {
  list-style: none;
}

.menu-item,
.user-item {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.1px;

}

.menu-item a:hover,
.user-item a:hover {
  color: #000000;
  opacity: 0.6;
}

.menu-item a:active,
.user-item a:active {
  color: #000000;
  opacity: 0.3;
}

.conteiner {

}s
.visually-hidden {

}

.slider-list {
  background-color: transparent;
}
.pagination-slider {
  list-style: none;

}
.slider-item {

}

.slider-number {
  color: #ffffff;
  background-color: #f7e296;
  font-size: 179px;
  line-height: 179px;
}
.product-description {
  color: #000000;
  text-transform: none;
}

.product-title {
  font-size: 47px;
  line-height: 56px;
}

.product-text {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1px;
  
}

.btn {
  
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

}


.btn:hover {
  background-color: #f0c52e;
}

.btn:activ {
  opacity: 0.5;
}

.table-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}
.table-text {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;px
  letter-spacing: 0.1;
}

.catalog-list {
  list-style: none;
 
}


.catalog-item {
  
  text-decoration: none;
  
  background-color: #f7e296;
}

.catalog-item:hover {
  background-color: #f0c52e;
}
.catalog-item-title {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  
  font-weight: 900;
  letter-spacing: 0.1px;
  
 }
.catalog-item-title:activ {
 color: #000000;
 opacity: 0.3;
}

.catalog-item:activ {
  opacity: 0.3;
}



.servises {
  background-color: #e5e5e5;
}

.services-list {
  list-style: none;
}

.btn-active {
  color: #ffffff;
  background-color: #000000;
}

.block-title {
  font-size: 47px;
  line-height: 48px;
  text-transform: none;
}

.block-text {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #464646;
}

.brands {

}

.brands-list {
  list-style: none;
}
.brand-item {
  opacity: 0.2;
}

.brand-item:hover {
  opacity: 1;
}

.info-title,
.contacts-title {
  font-size: 47px;
  line-height: 48px;
  
  
}

.info-text,
.contacts-text {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0;
}

.info-item {
  font-size: 16px;
  line-height: 20px;
  color: #464646;
  text-transform: none;
  letter-spacing: 0;

}

/*cotalog.html*/

.main-logo a {
  text-decoration: none;
  color: #000000;
}

.user-catalog {

}

.user-item-current {
  color: #000000;
  opacity: 0.3;

}


.page-title {
  font-size: 47px;
  line-height: 48px;
  text-transform: none;
}
.breadcrumbs {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.6;
  list-style: none;
}
.breadcrumbs a {
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
  letter-spacing: 0.1px;
}

.breadcrumbs a:hover{
  opacity: 0.6;
}


.breadcrumbs a:focus {
  opacity: 0.1;
}

.filters {
  background-color: #efefef;
}

.filter-bg {
  background-color: #dbdbdb;
}

.filters-title {
  font-size: 16px;
  line-height: 24px;

}

.form-filter .range-title {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.form-filter .range-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.2;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.filters-option+label {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;

}
.filter-list {
  list-style: none;
}

.filter-input:hover + label {
  color: #000000;
 opacity: 0.6;
}


.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.25;
}

.catalog-sorting {
  color: #000000;
  background-color: #ebebeb;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.sorting-list,
.sorting-choose {
  list-style: none;
}
.sorting-item {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.sorting-item-current {
  opacity: 1;
}

.sorting-item:hover {
  opacity: 0.6;
}
.sorting-item:active {
  color: #000000;
}

.choose-item a {
 color: #000000;
  opacity: 0.2;
}

.choose-item:hover {
  opacity: 0.4;
}

.choose-item:activ {
  color: #000000;
}

.catalog-list {
  list-style: none;

}
.catalog-item a {
  text-decoration: none;
}

.catalog-category {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}
.catalog-item span {

  font-weight: 300;
  color: #464646;
}


.basket-user {
  
  background: transparent;
  opacity: 0.7;
}

.comparison {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.3;
  border: none;
}

.comparison:hover{
  opacity: 0.6;
}


.comparison:focus {
  opacity: 0.1;
}

.catalog-item:hover {
  
  cursor: pointer;
}

.pagination-list {
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  color: #000000;
  background-color: #ebebeb;
  
}

.pagination-select:hover {
  background-color: #d9d9d9;
}
.pagination-select,
.pagination-page {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
  background-color: #ebebeb;
  text-transform: uppercase;
  
}

.pagination-select:focus {
  opacity: 0.3;
}


.pagination-page:hover {
  opacity: 0.6;
}
.pagination-page:focus {
  opacity: 1;

}
/*-------------*/

.main-footer {
  color: #ffffff;
  background-color: #464646;
}

.footer-list {
  color: #ffffff;
}
.footer-logo {
  color: #ffc600;
  

}


.main-footer .site-item {
  color: #ffffff;

}

.main-footer .site-item:hover {
  color: #ffffff;
  opacity: 0.6;

}

.main-footer .site-item:focus {
  color: #ffffff;
  opacity: 0.3;

}

.main-footer .user-item {
  color: #ffffff;
  opacity: 0.7;
}

.main-footer .user-item:hover {
  color: #ffffff;


}

.main-footer .user-item:focus {
  color: #ffffff;
  opacity: 0.3;

}


.footer-text {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.1px;
}

.social-list{
  list-style: none;
}
.social-button {
  opacity: 0.3;
  text-decoration: none;
  color: #7e7e7e;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-link {
  color: #ffc600;
  text-decoration: none;
  background-color: #464646;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link:activ {
  opacity: 0.3;
}

.modal {
color: #000000;
background-color: #ffffff;
}

.login-form input,
.login-form textarea {
  color: #464646;
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  background-color: #f2f2f2;
    
  }

.login-form label {
  font-size: 18px;
  line-height: 24px; 
  text-transform: none;
  }

.login-form input:hover,
.login-form textarea:hover {
  
  background-color: #eaeaea;
    
  }

.login-form input:focus,
.login-form textarea:focus {
  color: #5f5f5f;
  background-color: #ffffff;
  border: 1px solid #f7e296;  
}

.login-form input:invalid,
.login-form textarea:invalid {
    
  background-color: #f6dada;
  
}
  