@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff") format("woff"), 
      url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
      url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"),
      url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
      url("../fonts/opensans.woff2") format("woff2");
}

body {
  width: 1200px;
 margin: 0 auto;
  padding: 0 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: 0.1px;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
}

.logo-header {
  position: absolute;
  top: 20px;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.main-navigation {
  
  
  padding: 50px 60px;
  background-color: #f7e296;
}

.user-wrapper,
.menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

}


.search-form {
  width: 440px;
  height: 50px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #f7e296;
  letter-spacing: 0.1px; 

}
.search-form input[type="search"] {
  width: 355px;
  height: 50px;
  font: inherit;
  color: #000000;
  opacity: 0.3;
}
  
.search-form input:hover {
  color: #000000;
  opacity: 0.6;
}

.search {
  width: 85;
  height: 48px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #f7e296;
  text-align: center;
  border: 1px solid #000000;
}

.search:hover {
  color: #ffffff;
  background-color: #000000;
}

.search:activ {
  color: #ffffff;
  background-color: #000000;
  opacity: 0.3;
}

.search-form input:focus {
  border-bottom: 1px solid #000000;
}



.catalog-main,
.site-item {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.catalog-main:hover,
.site-item:hover {
  color: #000000;
  opacity: 0.6;
}
    
.catalog-main:active,
.site-item:active {
  color: #000000;
  opacity: 0.3;
}

.menu-list,
.user-navigation,
.cite-navigation {
  list-style: none;
  padding: o;
  margin: 0;
}

.user-navigation {
  width: 500px;
}
.cite-navigation {
  width: 500px;
}

.catalog-main {
  width: 300px;
}
.menu-list {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  padding: 0 60px;
  background-color: #f7e296;
}

.menu-list li {
  width: 200px;
  
}
.menu-item,
.user-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.1px;
}

.menu-item a:hover,
.user-item a:hover {
  color: #000000;
  opacity: 0.6;
}

.menu-item a:active,
.user-item a:active {
  color: #000000;
  opacity: 0.3;
}

.conteiner {

  
}


.visually-hidden {

}

.slider-list {
   
}
.pagination-slider {
  list-style: none;

}
.slider-list {
  margin-bottom: 90px;
}
.slider-wrapper {
  width: 100%;
  display:flex;
  justify-content: space-between;
}
.slider-item img {
  
}

.slider-number {
  color: #ffffff;
  background-color: #f7e296;
  font-size: 179px;
  line-height: 179px;
}
.product-description {
  color: #000000;
  width: 500px;

}

.product-title {
  font-size: 47px;
  line-height: 56px;
}

.product-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1px;
  
}

.btn {
  
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

}


.btn:hover {
  background-color: #f0c52e;
}

.btn:activ {
  opacity: 0.5;
}

.table-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}
.table-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;px
  letter-spacing: 0.1;
}

.catalog {
  margin-bottom: 180px;
}

.catalog-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  list-style: none;
 
}
.catalog-list li {
  width: 160px;
  margin-right: 40px;
 
}
.catalog-list li {
  width: 160px;
  margin-right: 40px;
 
}
.catalog-list li:last-child {
 
  margin-right: 0;
 
}

.catalog-item {
  display: block;
  margin-bottom: 35px;
  width: 160px;
  height: 160px;
  text-decoration: none;
  
  background-color: #f7e296;
}

.catalog-item:hover {
  background-color: #f0c52e;
}
.catalog-item-title {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.1px;
  
}
.catalog-item-title:activ {
 color: #000000;
 opacity: 0.3;
}

.catalog-item:activ {
  opacity: 0.3;
}

.services {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
}

.services-list {
  margin: 0;
  padding: 0;
  width: 280px;
 
  list-style: none;
}

.btn-active {
  color: #ffffff;
  background-color: #000000;
}
.services-block {
  width: 700px;
}
.block-title {
  font-size: 47px;
  line-height: 48px;
  text-transform: none;
}

.block-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #464646;
}

.brands {

}

.brands-list {
  display: flex;
  justify-content: flex-start;
  width: 1100px;
  margin: 85px 0;
  margin-right: 65px;
  list-style: none;
}
.brand-item {
  width: 260px;
  height: 100px;
  margin-right: 40px;
  opacity: 0.2;
}
.brand-item:last-child {
  margin-right: 0;
}

.brand-item:hover {
  opacity: 1;
}

.info {
  width: 460px;
  margin-right: 140px;
}
.contacts {
  width: 560px;
}
.info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.info-title,
.contacts-title {
  padding: 50px 0;
  font-size: 47px;
  line-height: 48px;
  
  
}

.info-text,
.contacts-text {
  padding-bottom: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0;
}
.info-list {
  padding-top: 75px;
  padding-bottom: 60px;
}
.info-item {
  font-size: 16px;
  line-height: 20px;
  color: #464646;
  text-transform: none;
  letter-spacing: 0;

}
.map {
  width: 560px;
  height: 222px;
  margin-bottom: 70px;
}


/*cotalog.html*/
.page-navigation {
  width: 500px;
 margin-left: 80px;   
  margin-bottom: 50px;
}


.user-item-current {
  color: #000000;
  opacity: 0.3;
}


.page-title {
  font-size: 47px;
  line-height: 48px;
  text-transform: none;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.6;
  list-style: none;
}
.breadcrumbs a {
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
  letter-spacing: 0.1px;
}

.breadcrumbs a:hover{
  opacity: 0.6;
}


.breadcrumbs a:focus {
  opacity: 0.1;
}

.filters {
  background-color: #efefef;
}

.filter-bg {
  background-color: #dbdbdb;
}
.filters-wrapper {
  width: 200px;
  
}

.filters-title {
  font-size: 16px;
  line-height: 24px;

}

.form-filter .range-title {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.form-filter .range-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.2;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.filters-option+label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;

}
.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-input:hover + label {
  color: #000000;
 opacity: 0.6;
}


.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.25;
}
.catalog {
  
}
.catalog-block {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 80px;
}
.catalog-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.catalog-sorting {
  color: #000000;
  background-color: #ebebeb;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.sorting-list,
.sorting-choose {
  list-style: none;
}
.sorting-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.sorting-item-current {
  opacity: 1;
}

.sorting-item:hover {
  opacity: 0.6;
}
.sorting-item:active {
  color: #000000;
}

.choose-item a {
 color: #000000;
  opacity: 0.2;
}

.choose-item:hover {
  opacity: 0.4;
}

.choose-item:activ {
  color: #000000;
}

.catalog-shop {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}

.catalog-model {
  width: 360px;
  min-height: 460px;
  margin-bottom: 40px;
  margin-right: 40px;
  list-style: none;

}
.catalog-model:nth-child(2n) {
  margin-right: 0;
}
.catalog-model a {
  text-decoration: none;
}

.catalog-model span {

  font-weight: 300;
  color: #464646;
}


.basket-user {
  
  background: transparent;
  opacity: 0.7;
}

.comparison {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.3;
  border: none;
}

.comparison:hover{
  opacity: 0.6;
}


.comparison:focus {
  opacity: 0.1;
}

.catalog-item:hover {
  
  cursor: pointer;
}

.pagination-list {
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  color: #000000;
  background-color: #ebebeb;
  
}

.pagination-select:hover {
  background-color: #d9d9d9;
}
.pagination-select,
.pagination-page {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
  background-color: #ebebeb;
  text-transform: uppercase;
  
}

.pagination-select:focus {
  opacity: 0.3;
}


.pagination-page:hover {
  opacity: 0.6;
}
.pagination-page:focus {
  opacity: 1;

}
/*-------------*/

.main-footer {

  color: #ffffff;
  background-color: #464646;
}

.footer-list {
  
}
.footer-logo {
  width: 200px;
  padding-top: 60px;
  padding-bottom: 30px;;
  color: #ffc600;
  font-size: 47px;
}

.user-navigation-footer {
  width: 480px;
  color: #ffffff;
}

.footer-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}



.main-footer .site-item:hover {
  color: #ffffff;
  opacity: 0.6;

}

.main-footer .site-item:focus {
  color: #ffffff;
  opacity: 0.3;

}

.main-footer .user-item {
  color: #ffffff;
  opacity: 0.7;
}

.main-footer .user-item:hover {
  color: #ffffff;


}

.main-footer .user-item:focus {
  color: #ffffff;
  opacity: 0.3;

}


.footer-text {
  width: 200px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.1px;
}
.cite-navigation-footer {
  width: 440px;
  
}
.main-footer .site-item {
  color: #ffffff;
}

.line {
  width: 80px;
  height: 8px;
  background-color: #ffc600;
}
.social-list{
  width: 160px;
  height: 30px;
  padding: 65px 0;
  list-style: none;
}
.social-button {
  opacity: 0.3;
  text-decoration: none;
  color: #7e7e7e;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-link {
  width: 27px;
  height: 35px;
  text-decoration: none;
  background-image: url("../img/logo-html-1.png")
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link:activ {
  opacity: 0.3;
}

.modal {
color: #000000;
background-color: #ffffff;
}

.login-form input,
.login-form textarea {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  background-color: #f2f2f2;
    
  }

.login-form label {
  font-size: 18px;
  line-height: 24px; 
  text-transform: none;
  }

.login-form input:hover,
.login-form textarea:hover {
  
  background-color: #eaeaea;
    
  }

.login-form input:focus,
.login-form textarea:focus {
  color: #5f5f5f;
  background-color: #ffffff;
  border: 1px solid #f7e296;  
}

.login-form input:invalid,
.login-form textarea:invalid {
    
  background-color: #f6dada;
  
}
  